html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, serif;
    color: #101828;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background-color: #F2F4F7;
}

.title {
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.headerContainer {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    line-height: 22px;
    font-size: 18px;
}

.linksContainer {
    display: flex;
}

.linksContainer .link {
    margin: 0 16px;
}

.link {
    text-decoration: none;
    color: #101828;
}

.link:hover {
    color: #1759D3;
}

.link:active {
    color: #1349ae;
}

button.default {
    outline: none;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    background-color: #2B6FEE;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

button.default:hover {
    background-color: #1759d3;
}

button.default:active {
    background-color: #1349ae;
}

button.default:disabled {
    background-color: #98a2b3;
}

.footerContainer {
    position: relative;
    padding: 48px;
    border-radius: 24px;
    background-image: url('./images/contacts-footer.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.victory {
    position: absolute;
    right: 6%;
    bottom: 0;
}

.footer-body {
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.footer-body a {
    color: #101828;
}

.footer-buttons {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.footer-buttons button, .footer-buttons a {
    margin-right: 16px;
}

.icon-btn {
    padding: 15px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
}

.icon-btn:hover svg path, .icon-btn:hover svg circle {
    stroke: #2B6FEE;
}

.icon-btn:active svg path, .icon-btn:active svg circle {
    stroke: #1349AE;
}

main {
    margin-top: 24px;
}

.row {
    margin-top: 40px;
    --bs-gutter-x: 40px;
}

.col {
    padding: 0 20px;
}

.about {
    background-image: url('./images/about-b.png');
    background-size: cover;
}

.about img {
    width: 40px;
    height: 40px;
}

.main-page-container {
    padding: 48px;
    border-radius: 24px;
    height: calc(100% - 96px);
}

.about-title {
    margin-top: 24px;
}

.about-body {
    margin-top: 16px;
}

.about-domains {
    margin-top: 48px;
}

.about-domains-container {
    display: flex;
    flex-wrap: wrap;
}

.about-domains-container .domain {
    font-weight: 500;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 16px;
}

.last-experience {
    background-color: #101828;
    color: #ffffff;
}

.last-experience-positions {
    margin-top: 48px;
}

.last-experience-positions-item {
    margin-bottom: 36px;
}

.last-experience-positions-item:last-of-type {
    margin-bottom: 0;
}

.last-experience-positions-item-period {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.last-experience-positions-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 8px;
}

.last-experience-positions-item-tags {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

.last-experience-positions-item-tags-item {
    font-weight: 500;
    margin-right: 8px;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.case {
    min-height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: relative;
}

.case-preview {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    transition: 0.3s;
}

.case-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.case-body-btn {
    cursor: pointer;
    height: 24px;
    width: 24px;
    padding: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    background-color: #2b6fee;
}

.case-body-btn img {
    rotate: -45deg;
    transition: 0.3s;
}

.case:hover .case-preview {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.case:hover .case-body-btn img {
    rotate: 0deg;
}

.blockster {
    color: #ffffff;
}
